In [38]:
#pip install textblob
from textblob import TextBlob

In [39]:
frase = "A serei ficava na beira do lago"
tb = TextBlob(frase)

tb_en = tb.translate(to='en')
tb_en.sentiment.polarity

0.0

In [40]:
tb_en

TextBlob("The seri was on the lakeshore")

In [50]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [63]:
df = pd.read_csv('casas.csv')
X , y = df.drop(columns='preco'), df.preco
reg = LinearRegression()
reg.fit(X,y)
reg.predict([[159.0, 2010, 2]])

array([232356.01204521])

In [60]:
reg.fit(X,y)

LinearRegression()

In [62]:
reg.predict([[159.0, 2010, 2]])

array([232356.01204521])

In [64]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [65]:
import pickle

In [68]:
pickle.dump(reg, open('modelo.sav', 'wb'))

In [69]:
import requests

In [ ]:
url = 'http://127.0.0.1:5000/cotacao/'
dados = {
    "tamanho":120,
    "ano":2032,
    "garagem":2
}
requests.post(url, json=dados)